@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.cartContainer {
  .fullCart {
    display: flex;
    justify-content: center;
    &_products {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_total {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 15px;
      padding: 12px 23px;
      border: 2px solid black;
      color: wheat;
      box-shadow: 0 0 10px black;
      height: 161px;
    }
    &_details {
      display: flex;
      flex-direction: column;
      font-size: 1.8rem;
      margin-bottom: 20px;
    }
  }
  .emptyCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_text {
      font-family: "Monoton", cursive;
      color: rgb(255, 66, 198);
      font-size: 3.3rem;
      text-align: center;
    }
    &_image {
      display: flex;
      justify-content: center;
      align-items: center;
      &-woman {
        height: 270px;
        filter: drop-shadow(2px 4px 7px black) contrast(1.2) saturate(1.1);
      }
      &-man {
        height: 200px;
        filter: drop-shadow(2px 4px 7px black) contrast(1.2) saturate(1.1);
      }
    }
  }
  .button_empty {
    display: block;
    width: 100px;
    background-color: white;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  .button_checkout {
    width: 100px;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 2px;
    font-weight: 700;
  }
}
