.cartContainer {
  .fullCart {
    display: flex;
    justify-content: center;
    &_products {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_total {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 15px;
      padding: 9px 7px;
      border-top: 2px solid;
      height: 149px;
      border-bottom: 2px solid;
    }
    &_details {
      display: flex;
      flex-direction: column;
      font-size: 1.8rem;
      margin-bottom: 20px;
    }
  }
  .emptyCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_text {
      border: 2px solid orange;
      padding: 10px;
      box-shadow: 0 0 10px black;
      background-color: orange;
      color: wheat;
      font-size: 2.3rem;
      font-weight: 800;
    }
    &_image {
      display: flex;
      justify-content: center;
      align-items: center;
      &-woman {
        height: 270px;
        filter: drop-shadow(2px 4px 7px red);
      }
      &-man {
        height: 200px;
        filter: drop-shadow(2px 4px 7px red);
      }
    }
  }
  .button_empty {
    display: block;
    width: 100px;
    background-color: white;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  .button_checkout {
    width: 100px;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 2px;
    font-weight: 700;
  }
}
