.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100vw;
  &_stepper {
    border: 1px solid #bdab8a;
    border-radius: 3px;
    box-shadow: 0 0 7px black;
    padding: 7px;
    background-color: #52ffbfab;
  }
  &_borders {
    width: 150px;
    padding: 7px;
    border-right: 2px solid #bdab8a;
    border-left: 2px solid #bdab8a;
  }
  .form_header {
    font-size: 1.5rem;
  }
}
