.products {
  display: grid;
  grid-template-columns: repeat(3, 24rem);
  grid-gap: 22px;
  justify-content: center;
  align-items: center;
  @include respond(large-phone) {
    grid-template-columns: repeat(2, 24rem);
  }
  @include respond(phone) {
    grid-template-columns: repeat(1, 24rem);
  }
}

.product {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px #000000;
  padding: 18px;
  padding-bottom: 11px;
  background-color: #0000007d;
  &_image {
    display: flex;
    flex-direction: column;
    img {
      height: 200px;
    }
  }
  &_text {
    width: 100%;
    border-top: 6px double #eb4605;
    padding-top: 10px;
    p {
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      text-align: center;
      letter-spacing: 3px;
      margin-bottom: 5px;
    }
  }
  &_button {
    position: relative;
    padding: 11px 30px;
    color: #03e9f4;
    transition: 0.5s;
    overflow: hidden;
    font-size: 1.8rem;
    font-weight: 900;
  }
  &_button:hover {
    background-color: #ff6224;
    color: #050801;
    box-shadow: 0 0 5px #ff6224, 0 0 25px #ff6224, 0 0 50px #ff6224, 0 0 200px #ff6224;
    span:nth-child(1) {
      top: -100%;
      right: 48%;
      width: 3px;
      height: 100%;
      background: linear-gradient(180deg, transparent, rgb(0, 0, 0));
      animation: animate1 1s linear infinite;
      animation-delay: 0.25s;
    }
    span:nth-child(2) {
      bottom: 50%;
      right: -100%;
      width: 100%;
      height: 3px;
      background: linear-gradient(270deg, transparent, rgb(0, 0, 0));
      animation: animate2 1s linear infinite;
      animation-delay: 0.5s;
    }
  }
  &_button span {
    position: absolute;
    display: block;
  }

  @keyframes animate1 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }

  @keyframes animate2 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
}
