*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: wheat;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 69% 69% 0% 0%/36% 36% 24% 24%;
  box-shadow: 0 0 10px black;
  background-color: black;
}
.product_image {
  height: 250px;
  margin-bottom: 10px;
  border-radius: 47% 47% 0% 0%/36% 36% 24% 24%;
  border-bottom: 6px double orange;
}
.product_text p {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 5px;
}
.product button {
  width: 100%;
  height: 40px;
  background-color: black;
  color: orange;
  font-size: 1.7rem;
  cursor: pointer;
  border: 6px double;
}
.product i {
  margin-right: 5px;
}

.cartContainer .fullCart {
  display: flex;
  justify-content: center;
}
.cartContainer .fullCart_products {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartContainer .fullCart_total {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  padding: 9px 7px;
  border-top: 2px solid;
  height: 149px;
  border-bottom: 2px solid;
}
.cartContainer .fullCart_details {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.cartContainer .button_empty {
  display: block;
  width: 100px;
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 10px;
}
.cartContainer .button_checkout {
  width: 100px;
  background-color: blue;
  color: white;
  padding: 5px;
  border-radius: 2px;
  font-weight: 700;
}

.singleCart {
  display: flex;
  width: auto;
  justify-content: space-around;
  padding: 20px;
  border: 2px solid;
  width: 320px;
  margin-bottom: 20px;
}
.singleCart_image {
  width: 100px;
}
.singleCart_text {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.singleCart_text p span {
  font-weight: 600;
  margin-right: 5px;
}
.singleCart_quantity {
  display: flex;
  justify-content: space-between;
}
.singleCart_button {
  width: 22px;
  font-size: 1.3rem;
  color: white;
  border-radius: 2px;
}
.singleCart_button-minus {
  background-color: crimson;
}
.singleCart_button-plus {
  background-color: green;
}
.singleCart_button-remove {
  width: 100%;
  background-color: #040000;
  color: white;
  font-size: 1.4rem;
  padding: 3px;
}

.checkout {
  width: 400px;
  border: 1px solid brown;
}
.checkout_circles {
  display: flex;
  justify-content: space-around;
}
.checkout_circles div {
  display: flex;
}
.checkout_circles-icons {
  background-color: cornflowerblue;
  width: 10px;
  height: 10px;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 1.5rem;
}
.navbar_cart {
  display: flex;
  align-items: center;
}
.navbar_cart p {
  background-color: #22a00b;
  color: white;
  padding: 2px;
  font-size: 1.3rem;
  font-weight: 800;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 0 0 3px 0px black;
}

/*# sourceMappingURL=main.css.map */
